In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd
import os
import datetime as dt

In [2]:
hawaii_db = os.path.join("Resources", "hawaii.sqlite")
engine = create_engine(f"sqlite:///{hawaii_db}")

In [3]:
Base = automap_base()

In [4]:
Base.prepare(engine, reflect=True)

In [5]:
Base.classes.keys()

['measurement', 'station']

In [6]:
measurement = Base.classes.measurement

station = Base.classes.station

In [7]:
session = Session(engine)

In [8]:
inspector = inspect(engine)
columns = inspector.get_columns('measurement')
[column['name'] for column in columns]

['id', 'station', 'date', 'prcp', 'tobs']

In [9]:
last_date = session.query(measurement.date).order_by(measurement.date.desc()).first()
print(last_date)

('2017-08-23',)

In [10]:
a_year_ago = dt.date(2017,8,23) - dt.timedelta(days=365)
print(a_year_ago)

2016-08-23

In [11]:
select = [measurement.date, measurement.prcp]

In [12]:
select_join = session.query(*select).filter(measurement.date > a_year_ago).all()
#select_join

In [13]:
select_df = pd.DataFrame(select_join, columns=['date', 'prcp']).set_index("date").sort_values(["date"], ascending=True)
select_df.head()

            prcp
date
2016-08-24  0.08
2016-08-24   NaN
2016-08-24  2.15
2016-08-24  2.28
2016-08-24  2.15

In [ ]:
select_plot= select_df.plot(rot=90, alpha = 0.5)
select_plot.se